# Environment files
.env
*.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment folders
env/
venv/
.venv/
skinwise-env/

# IDE / editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Build / dist folders
build/
dist/
*.egg-info/
TODO_COMMANDS.txt
Application_Scaling.txt

# Excel files
*.xls
*.xlsx
*.xlsm
*.csv

# Ignore Microsoft Word documents
*.doc
*.docx